openapi: 3.1.0
info:
  title: Sellonit API
  version: 1.0.3
  description: |
    Canonical API contract for Sellonit.

    Sellonit is a virtual-inventory commerce and supply-chain platform connecting
    suppliers/manufacturers, independent online retailers, and customers.

    Core model:
      Supplier/Manufacturer -> Sellonit -> Retailer Store -> Customer

    The API separates:
      - identity and business membership
      - supplier catalogue and physical inventory
      - retailer store listings
      - customer carts and orders
      - payments, escrow and settlements
      - fulfillment
      - demand aggregation
      - bulk supply requests
      - shipments and 3PL orchestration

    Finalized MVP scope v1.0.3 (pre-release contract correction):
      PAYMENT -> ESCROW -> FULFILLMENT -> SHIPMENT -> SETTLEMENT -> ORDER COMPLETED.
      Order COMPLETED is a final commercial state requiring a non-empty, complete
      set of associated settlements, ALL SETTLED, and their escrow RELEASED.
      Delivered shipments, completed fulfillment or held escrow alone never complete an order.
      Central discovery is directory-only; checkout always belongs to one retailer
      or enterprise store. Enterprise extends supplier capabilities with a B2C store.
      Customer is an identity, not a business membership type.

    Contract rules:
      - SupplierProduct is the master physical product record.
      - RetailerProductListing references SupplierProduct and is store-specific.
      - Supplier inventory is the physical stock source of truth.
      - Order, Fulfillment and Shipment are separate resources.
      - A single customer order may create multiple fulfillments and shipments.
      - API clients must never trust client-supplied prices or payment success.
      - All write operations that can be retried support idempotency where stated.
      - All tenant-owned resources are authorization-scoped to the authenticated
        user's business/store membership.

servers:
  - url: https://api.sellonit.app/v1
    description: Production
  - url: https://staging-api.sellonit.app/v1
    description: Staging
  - url: http://localhost:4000/v1
    description: Local development

tags:
  - name: Auth
  - name: Businesses
  - name: Stores
  - name: Supplier Profiles
  - name: Supplier Products
  - name: Retailer Profiles
  - name: Retailer Listings
  - name: Catalogue
  - name: Customers
  - name: Carts
  - name: Orders
  - name: Payments
  - name: Inventory
  - name: Fulfillment
  - name: Demand Aggregation
  - name: Bulk Supply Requests
  - name: Shipments
  - name: 3PL
  - name: Notifications
  - name: Analytics
  - name: Health

security:
  - bearerAuth: []

paths:

  /health:
    get:
      tags: [Health]
      summary: Liveness check
      security: []
      responses:
        '200':
          description: API is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /health/ready:
    get:
      tags: [Health]
      summary: Readiness check
      security: []
      responses:
        '200':
          description: API dependencies are ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUser'
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify email address
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUser'
        '400':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags: [Auth]
      summary: Authenticate user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: New access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke current session
      responses:
        '204':
          description: Logged out

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '202':
          description: Reset request accepted

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '204':
          description: Password reset

  /me:
    get:
      tags: [Auth]
      summary: Get current user
      responses:
        '200':
          description: Current authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseUser'

  /businesses:
    get:
      tags: [Businesses]
      summary: List businesses accessible to current user
      responses:
        '200':
          description: Businesses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBusinesses'
    post:
      tags: [Businesses]
      summary: Create a business
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessRequest'
      responses:
        '201':
          description: Business created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBusiness'
        '400':
          $ref: '#/components/responses/ValidationError'

  /businesses/{businessId}:
    parameters:
      - $ref: '#/components/parameters/BusinessId'
    get:
      tags: [Businesses]
      summary: Get business
      responses:
        '200':
          description: Business
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBusiness'
    patch:
      tags: [Businesses]
      summary: Update business
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessRequest'
      responses:
        '200':
          description: Updated business
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBusiness'

  /businesses/{businessId}/members:
    parameters:
      - $ref: '#/components/parameters/BusinessId'
    get:
      tags: [Businesses]
      summary: List business members
      responses:
        '200':
          description: Members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMembers'
    post:
      tags: [Businesses]
      summary: Add a business member
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddMemberRequest'
      responses:
        '201':
          description: Member added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMember'

  /businesses/{businessId}/members/{memberId}:
    parameters:
      - $ref: '#/components/parameters/BusinessId'
      - $ref: '#/components/parameters/MemberId'
    patch:
      tags: [Businesses]
      summary: Change member role/status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRequest'
      responses:
        '200':
          description: Updated member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseMember'
    delete:
      tags: [Businesses]
      summary: Remove member
      responses:
        '204':
          description: Removed

  /businesses/{businessId}/supplier-profile:
    parameters:
      - $ref: '#/components/parameters/BusinessId'
    get:
      tags: [Supplier Profiles]
      summary: Get supplier profile
      responses:
        '200':
          description: Supplier profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSupplierProfile'
    put:
      tags: [Supplier Profiles]
      summary: Create or replace supplier profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertSupplierProfileRequest'
      responses:
        '200':
          description: Supplier profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSupplierProfile'

  /businesses/{businessId}/retailer-profile:
    parameters:
      - $ref: '#/components/parameters/BusinessId'
    get:
      tags: [Retailer Profiles]
      summary: Get retailer profile
      responses:
        '200':
          description: Retailer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRetailerProfile'
    put:
      tags: [Retailer Profiles]
      summary: Create or replace retailer profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertRetailerProfileRequest'
      responses:
        '200':
          description: Retailer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRetailerProfile'

  /businesses/{businessId}/stores:
    parameters:
      - $ref: '#/components/parameters/BusinessId'
    get:
      tags: [Stores]
      summary: List stores owned by a business
      responses:
        '200':
          description: Stores
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStores'
    post:
      tags: [Stores]
      summary: Create a store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStoreRequest'
      responses:
        '201':
          description: Store created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStore'

  /stores/{storeId}:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Stores]
      summary: Get store
      responses:
        '200':
          description: Store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStore'
    patch:
      tags: [Stores]
      summary: Update store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStoreRequest'
      responses:
        '200':
          description: Updated store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStore'

  /stores/{storeId}/publish:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    post:
      tags: [Stores]
      summary: Publish storefront
      responses:
        '200':
          description: Published store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStore'

  /stores/{storeId}/unpublish:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    post:
      tags: [Stores]
      summary: Unpublish storefront
      responses:
        '200':
          description: Unpublished store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStore'

  /supplier-products:
    get:
      tags: [Supplier Products]
      summary: List supplier products owned by current business
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
        - name: status
          in: query
          schema: {$ref: '#/components/schemas/ProductStatus'}
        - $ref: '#/components/parameters/BusinessQuery'
      responses:
        '200':
          description: Supplier products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSupplierProducts'
    post:
      tags: [Supplier Products]
      summary: Create master supplier product
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSupplierProductRequest'
      responses:
        '201':
          description: Supplier product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSupplierProduct'
        '409':
          $ref: '#/components/responses/Conflict'

  /supplier-products/{supplierProductId}:
    parameters:
      - $ref: '#/components/parameters/SupplierProductId'
    get:
      tags: [Supplier Products]
      summary: Get supplier product
      responses:
        '200':
          description: Supplier product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSupplierProduct'
    patch:
      tags: [Supplier Products]
      summary: Update supplier product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSupplierProductRequest'
      responses:
        '200':
          description: Updated supplier product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSupplierProduct'

  /supplier-products/{supplierProductId}/publish:
    parameters:
      - $ref: '#/components/parameters/SupplierProductId'
    post:
      tags: [Supplier Products]
      summary: Publish supplier product to retailer catalogue
      responses:
        '200':
          description: Published product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSupplierProduct'

  /supplier-products/{supplierProductId}/unpublish:
    parameters:
      - $ref: '#/components/parameters/SupplierProductId'
    post:
      tags: [Supplier Products]
      summary: Remove supplier product from retailer catalogue
      responses:
        '200':
          description: Unpublished product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSupplierProduct'

  /supplier-products/{supplierProductId}/inventory:
    parameters:
      - $ref: '#/components/parameters/SupplierProductId'
    get:
      tags: [Inventory]
      summary: Get current inventory
      responses:
        '200':
          description: Inventory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseInventory'
    post:
      tags: [Inventory]
      summary: Adjust inventory
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryAdjustmentRequest'
      responses:
        '200':
          description: Updated inventory
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseInventory'
        '409':
          description: Inventory conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /supplier-products/{supplierProductId}/pricing-rule:
    parameters:
      - $ref: '#/components/parameters/SupplierProductId'
    put:
      tags: [Supplier Products]
      summary: Set supplier pricing rule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPricingRuleRequest'
      responses:
        '200':
          description: Pricing rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePricingRule'

  /catalogue/products:
    get:
      tags: [Catalogue]
      summary: Browse published supplier catalogue as a retailer
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/CategoryId'
        - $ref: '#/components/parameters/SupplierId'
        - $ref: '#/components/parameters/InStock'
      responses:
        '200':
          description: Published supplier catalogue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCatalogueProducts'

  /catalogue/products/{supplierProductId}:
    parameters:
      - $ref: '#/components/parameters/SupplierProductId'
    get:
      tags: [Catalogue]
      summary: Get supplier product from retailer catalogue
      responses:
        '200':
          description: Catalogue product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCatalogueProduct'

  /stores/{storeId}/listings:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Retailer Listings]
      summary: List retailer product listings
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
        - name: status
          in: query
          schema: {$ref: '#/components/schemas/ListingStatus'}
      responses:
        '200':
          description: Retailer listings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedRetailerListings'
    post:
      tags: [Retailer Listings]
      summary: Add supplier product to retailer store
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRetailerListingRequest'
      responses:
        '201':
          description: Retailer listing created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRetailerListing'
        '409':
          $ref: '#/components/responses/Conflict'

  /stores/{storeId}/listings/{listingId}:
    parameters:
      - $ref: '#/components/parameters/StoreId'
      - $ref: '#/components/parameters/ListingId'
    get:
      tags: [Retailer Listings]
      summary: Get retailer listing
      responses:
        '200':
          description: Listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRetailerListing'
    patch:
      tags: [Retailer Listings]
      summary: Update retailer listing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRetailerListingRequest'
      responses:
        '200':
          description: Updated listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRetailerListing'
    delete:
      tags: [Retailer Listings]
      summary: Remove product from retailer store
      responses:
        '204':
          description: Listing removed

  /stores/{storeId}/listings/{listingId}/publish:
    parameters:
      - $ref: '#/components/parameters/StoreId'
      - $ref: '#/components/parameters/ListingId'
    post:
      tags: [Retailer Listings]
      summary: Publish retailer listing
      responses:
        '200':
          description: Published listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRetailerListing'

  /stores/{storeId}/listings/{listingId}/unpublish:
    parameters:
      - $ref: '#/components/parameters/StoreId'
      - $ref: '#/components/parameters/ListingId'
    post:
      tags: [Retailer Listings]
      summary: Unpublish retailer listing
      responses:
        '200':
          description: Unpublished listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseRetailerListing'

  /public/stores/{storeSlug}:
    parameters:
      - $ref: '#/components/parameters/StoreSlug'
    get:
      tags: [Stores]
      summary: Get public storefront
      security: []
      responses:
        '200':
          description: Public store
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePublicStore'

  /public/stores/{storeSlug}/products:
    parameters:
      - $ref: '#/components/parameters/StoreSlug'
    get:
      tags: [Stores]
      summary: List public store products
      security: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/CategoryId'
      responses:
        '200':
          description: Public products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPublicProducts'

  /public/stores/{storeSlug}/products/{listingId}:
    parameters:
      - $ref: '#/components/parameters/StoreSlug'
      - $ref: '#/components/parameters/ListingId'
    get:
      tags: [Stores]
      summary: Get public store product
      security: []
      responses:
        '200':
          description: Public product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePublicProduct'

  /stores/{storeId}/customers:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Customers]
      summary: List store customers
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: Customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomers'

  /stores/{storeId}/customers/{customerId}:
    parameters:
      - $ref: '#/components/parameters/StoreId'
      - $ref: '#/components/parameters/CustomerId'
    get:
      tags: [Customers]
      summary: Get customer
      responses:
        '200':
          description: Customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCustomer'

  /carts:
    post:
      tags: [Carts]
      summary: Create a cart
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCartRequest'
      responses:
        '201':
          description: Cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCart'

  /carts/{cartId}:
    parameters:
      - $ref: '#/components/parameters/CartId'
    get:
      tags: [Carts]
      summary: Get cart
      security: []
      responses:
        '200':
          description: Cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCart'
    patch:
      tags: [Carts]
      summary: Update cart
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCartRequest'
      responses:
        '200':
          description: Cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCart'

  /carts/{cartId}/items:
    parameters:
      - $ref: '#/components/parameters/CartId'
    post:
      tags: [Carts]
      summary: Add item to cart
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCartItemRequest'
      responses:
        '201':
          description: Cart item added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCart'

  /carts/{cartId}/items/{itemId}:
    parameters:
      - $ref: '#/components/parameters/CartId'
      - $ref: '#/components/parameters/CartItemId'
    patch:
      tags: [Carts]
      summary: Change cart item quantity
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCartItemRequest'
      responses:
        '200':
          description: Cart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCart'
    delete:
      tags: [Carts]
      summary: Remove cart item
      security: []
      responses:
        '204':
          description: Removed

  /checkout:
    post:
      tags: [Orders]
      summary: Validate a single store cart and create a NEW order
      description: No central unified checkout. Revalidate authoritative prices and stock; inventory is reserved atomically only on trusted payment confirmation.
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '201':
          description: Pending order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOrder'
        '409':
          description: Stock or price changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders:
    get:
      tags: [Orders]
      summary: List orders accessible to current user
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema: {$ref: '#/components/schemas/OrderState'}
        - $ref: '#/components/parameters/StoreIdQuery'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: Orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrders'

  /orders/{orderId}:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    get:
      tags: [Orders]
      summary: Get order
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOrder'
    post:
      tags: [Orders]
      summary: Reserved for explicit order actions; use checkout for customer creation
      deprecated: true
      responses:
        '405':
          description: Method not supported

  /orders/{orderId}/cancel:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      tags: [Orders]
      summary: Cancel order when cancellation policy allows
      description: NEW or PAID only, before fulfillment leaves PENDING_BATCH. Refund held escrow and undo reservations idempotently through backend orchestration; reject later cancellation with 409.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Cancelled order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseOrder'
        '409':
          $ref: '#/components/responses/Conflict'

  /payments/initialize:
    post:
      tags: [Payments]
      summary: Initialize customer payment
      security: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitializePaymentRequest'
      responses:
        '201':
          description: Payment initialized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePaymentInitialization'

  /payments/{paymentId}:
    parameters:
      - $ref: '#/components/parameters/PaymentId'
    get:
      tags: [Payments]
      summary: Get payment status
      responses:
        '200':
          description: Payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponsePayment'

  /webhooks/payments:
    post:
      tags: [Payments]
      summary: Receive payment provider webhook
      description: |
        Provider-specific raw JSON, verified by the configured provider adapter against
        the unmodified request body before normalization. No browser confirmation.
        Require the selected adapter's signature header; absence or invalid signature
        is 401. Verify reference, amount, NGN currency and order association server-side.
        Deduplicate provider + event/reference durably; valid duplicate deliveries return
        200 without repeating reservation, escrow, settlement, fulfillment or notifications.
        Confirmation and inventory reservation must commit atomically. Insufficient stock
        records a reconciliation conflict without marking the order PAID.
        Never acknowledge unpersisted financial work as successfully processed.
      security: []
      parameters:
        - $ref: '#/components/parameters/PaymentSignature'
        - $ref: '#/components/parameters/FlutterwaveSignature'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: Native provider payload; adapter validates before normalization.
      responses:
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '200':
          description: Webhook accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'

  /fulfillments:
    get:
      tags: [Fulfillment]
      summary: List fulfillments
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema: {$ref: '#/components/schemas/FulfillmentState'}
        - $ref: '#/components/parameters/SupplierBusinessId'
      responses:
        '200':
          description: Fulfillments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFulfillments'

  /fulfillments/{fulfillmentId}:
    parameters:
      - $ref: '#/components/parameters/FulfillmentId'
    get:
      tags: [Fulfillment]
      summary: Get fulfillment
      responses:
        '200':
          description: Fulfillment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseFulfillment'
    patch:
      tags: [Fulfillment]
      summary: Update fulfillment operational state
      description: Authorized operations staff only, scoped to owning business. Enforce PENDING_BATCH -> IN_BULK_REQUEST -> AT_3PL_HUB -> COMPLETED; never complete the order from this update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFulfillmentRequest'
      responses:
        '200':
          description: Fulfillment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseFulfillment'

  /demand-batches:
    get:
      tags: [Demand Aggregation]
      summary: List demand batches
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema: {$ref: '#/components/schemas/DemandBatchStatus'}
        - $ref: '#/components/parameters/SupplierBusinessId'
      responses:
        '200':
          description: Demand batches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDemandBatches'

  /demand-batches/{batchId}:
    parameters:
      - $ref: '#/components/parameters/BatchId'
    get:
      tags: [Demand Aggregation]
      summary: Get demand batch
      responses:
        '200':
          description: Demand batch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDemandBatch'
    post:
      tags: [Demand Aggregation]
      summary: Manually close/release a batch when authorized
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseBatchRequest'
      responses:
        '200':
          description: Released batch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseDemandBatch'

  /bulk-supply-requests:
    get:
      tags: [Bulk Supply Requests]
      summary: List bulk supply requests
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema: {$ref: '#/components/schemas/BulkSupplyStatus'}
        - $ref: '#/components/parameters/SupplierBusinessId'
      responses:
        '200':
          description: Bulk supply requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedBulkSupplyRequests'

  /bulk-supply-requests/{requestId}:
    parameters:
      - $ref: '#/components/parameters/BulkRequestId'
    get:
      tags: [Bulk Supply Requests]
      summary: Get bulk supply request
      responses:
        '200':
          description: Bulk request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBulkSupplyRequest'
    patch:
      tags: [Bulk Supply Requests]
      summary: Update supplier response / operational status
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBulkSupplyRequest'
      responses:
        '200':
          description: Bulk request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseBulkSupplyRequest'

  /shipments:
    get:
      tags: [Shipments]
      summary: List shipments
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: status
          in: query
          schema: {$ref: '#/components/schemas/ShipmentState'}
        - $ref: '#/components/parameters/OrderIdQuery'
      responses:
        '200':
          description: Shipments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedShipments'

  /shipments/{shipmentId}:
    parameters:
      - $ref: '#/components/parameters/ShipmentId'
    get:
      tags: [Shipments]
      summary: Get shipment
      responses:
        '200':
          description: Shipment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseShipment'

  /shipments/{shipmentId}/events:
    parameters:
      - $ref: '#/components/parameters/ShipmentId'
    get:
      tags: [Shipments]
      summary: List shipment events
      responses:
        '200':
          description: Shipment events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseShipmentEvents'

  /webhooks/3pl:
    post:
      tags: [3PL]
      summary: Receive 3PL shipment/status webhook
      security: []
      parameters:
        - $ref: '#/components/parameters/WebhookSignature'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreePLWebhookEvent'
      responses:
        '200':
          description: Webhook accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'

  /notifications:
    get:
      tags: [Notifications]
      summary: List current user's notifications
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/UnreadOnly'
      responses:
        '200':
          description: Notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNotifications'

  /notifications/{notificationId}/read:
    parameters:
      - $ref: '#/components/parameters/NotificationId'
    post:
      tags: [Notifications]
      summary: Mark notification as read
      responses:
        '204':
          description: Marked read

  /analytics/stores/{storeId}/overview:
    parameters:
      - $ref: '#/components/parameters/StoreId'
    get:
      tags: [Analytics]
      summary: Store overview analytics
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: Store analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseStoreAnalytics'

  /analytics/suppliers/{businessId}/overview:
    parameters:
      - $ref: '#/components/parameters/BusinessId'
    get:
      tags: [Analytics]
      summary: Supplier overview analytics
      parameters:
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: Supplier analytics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseSupplierAnalytics'

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived access token. Refresh handled through /auth/refresh.

  parameters:
    BusinessId:
      name: businessId
      in: path
      required: true
      schema: {type: string, format: uuid}
    MemberId:
      name: memberId
      in: path
      required: true
      schema: {type: string, format: uuid}
    StoreId:
      name: storeId
      in: path
      required: true
      schema: {type: string, format: uuid}
    StoreSlug:
      name: storeSlug
      in: path
      required: true
      schema: {type: string, minLength: 2, maxLength: 80, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$'}
    SupplierProductId:
      name: supplierProductId
      in: path
      required: true
      schema: {type: string, format: uuid}
    ListingId:
      name: listingId
      in: path
      required: true
      schema: {type: string, format: uuid}
    CustomerId:
      name: customerId
      in: path
      required: true
      schema: {type: string, format: uuid}
    CartId:
      name: cartId
      in: path
      required: true
      schema: {type: string, format: uuid}
    CartItemId:
      name: itemId
      in: path
      required: true
      schema: {type: string, format: uuid}
    OrderId:
      name: orderId
      in: path
      required: true
      schema: {type: string, format: uuid}
    PaymentId:
      name: paymentId
      in: path
      required: true
      schema: {type: string, format: uuid}
    FulfillmentId:
      name: fulfillmentId
      in: path
      required: true
      schema: {type: string, format: uuid}
    BatchId:
      name: batchId
      in: path
      required: true
      schema: {type: string, format: uuid}
    BulkRequestId:
      name: requestId
      in: path
      required: true
      schema: {type: string, format: uuid}
    ShipmentId:
      name: shipmentId
      in: path
      required: true
      schema: {type: string, format: uuid}
    NotificationId:
      name: notificationId
      in: path
      required: true
      schema: {type: string, format: uuid}
    Page:
      name: page
      in: query
      schema: {type: integer, minimum: 1, default: 1}
    PageSize:
      name: pageSize
      in: query
      schema: {type: integer, minimum: 1, maximum: 100, default: 20}
    Search:
      name: search
      in: query
      schema: {type: string, maxLength: 200}
    BusinessQuery:
      name: businessId
      in: query
      schema: {type: string, format: uuid}
    StoreIdQuery:
      name: storeId
      in: query
      schema: {type: string, format: uuid}
    SupplierBusinessId:
      name: supplierBusinessId
      in: query
      schema: {type: string, format: uuid}
    CategoryId:
      name: categoryId
      in: query
      schema: {type: string, format: uuid}
    SupplierId:
      name: supplierId
      in: query
      schema: {type: string, format: uuid}
    InStock:
      name: inStock
      in: query
      schema: {type: boolean}
    DateFrom:
      name: dateFrom
      in: query
      schema: {type: string, format: date-time}
    DateTo:
      name: dateTo
      in: query
      schema: {type: string, format: date-time}
    OrderIdQuery:
      name: orderId
      in: query
      schema: {type: string, format: uuid}
    UnreadOnly:
      name: unreadOnly
      in: query
      schema: {type: boolean, default: false}
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Unique key for safe retry of a mutating request. Reuse the same key only for the same logical operation.
      schema: {type: string, minLength: 16, maxLength: 128}
    PaymentSignature:
      name: x-paystack-signature
      in: header
      description: Required for Paystack; adapter verifies HMAC-SHA512 over raw bytes.
      schema: {type: string}
    FlutterwaveSignature:
      name: flutterwave-signature
      in: header
      description: Required for the configured Flutterwave HMAC-SHA256 webhook integration; adapter verifies raw bytes using its secret. Legacy verif-hash integrations require a separately configured adapter, never automatic fallback.
      schema: {type: string}
    WebhookSignature:
      name: X-Webhook-Signature
      in: header
      required: true
      schema: {type: string}

  schemas:

    UserRole:
      type: string
      enum: [OWNER, ADMIN, STAFF, SUPPLIER, RETAILER]
    BusinessType:
      type: string
      enum: [SUPPLIER, ENTERPRISE, RETAILER]
    UserStatus:
      type: string
      enum: [PENDING_VERIFICATION, ACTIVE, SUSPENDED, DEACTIVATED]
    StoreStatus:
      type: string
      enum: [DRAFT, PUBLISHED, UNPUBLISHED, SUSPENDED]
    ProductStatus:
      type: string
      enum: [DRAFT, PUBLISHED, UNPUBLISHED, ARCHIVED]
    ListingStatus:
      type: string
      enum: [DRAFT, PUBLISHED, UNPUBLISHED, ARCHIVED]
    PricingRuleType:
      type: string
      enum: [FLEXIBLE, FIXED_MSRP, MAP]
    OrderStatus:
      $ref: '#/components/schemas/OrderState'
    OrderState:
      type: string
      enum: [NEW, PAID, COMPLETED, CANCELLED]
    PaymentStatus:
      $ref: '#/components/schemas/PaymentState'
    PaymentState:
      type: string
      enum: [PENDING, CONFIRMED, FAILED]
    FulfillmentStatus:
      $ref: '#/components/schemas/FulfillmentState'
    FulfillmentState:
      type: string
      enum: [PENDING_BATCH, IN_BULK_REQUEST, AT_3PL_HUB, COMPLETED]
    ShipmentStatus:
      $ref: '#/components/schemas/ShipmentState'
    ShipmentState:
      type: string
      enum: [PENDING, IN_TRANSIT, DELIVERED, FAILED]
    DemandBatchStatus:
      type: string
      enum: [OPEN, THRESHOLD_REACHED, TIME_EXPIRED, LOCKED, RELEASED, COMPLETED, CANCELLED]
    BulkSupplyStatus:
      type: string
      enum: [DRAFT, SENT, ACKNOWLEDGED, PREPARING, IN_TRANSIT, RECEIVED, PARTIALLY_RECEIVED, COMPLETED, CANCELLED]
    EscrowState:
      type: string
      enum: [HELD, RELEASED, REFUNDED]
    SettlementState:
      type: string
      enum: [LOCKED, PENDING, SETTLED]
    PaymentMethod:
      type: string
      enum: [BANK_TRANSFER, USSD]
    Currency:
      type: string
      enum: [NGN]
    Money:
      type: object
      required: [amount, currency]
      properties:
        amount:
          type: integer
          minimum: 0
          description: Minor units (kobo for NGN).
          example: 520000
        currency:
          $ref: '#/components/schemas/Currency'
    Address:
      type: object
      required: [recipientName, phone, addressLine1, city, state, country]
      properties:
        recipientName: {type: string, minLength: 2, maxLength: 120}
        phone: {type: string, minLength: 7, maxLength: 30}
        addressLine1: {type: string, minLength: 3, maxLength: 250}
        addressLine2: {type: string, maxLength: 250}
        area: {type: string, maxLength: 120}
        city: {type: string, maxLength: 120}
        state: {type: string, maxLength: 120}
        country: {type: string, minLength: 2, maxLength: 2, default: NG}
        latitude: {type: number, minimum: -90, maximum: 90}
        longitude: {type: number, minimum: -180, maximum: 180}

    User:
      type: object
      required: [id, email, status, createdAt]
      properties:
        id: {type: string, format: uuid}
        email: {type: string, format: email}
        firstName: {type: string, maxLength: 80}
        lastName: {type: string, maxLength: 80}
        phone: {type: string, maxLength: 30}
        status: {$ref: '#/components/schemas/UserStatus'}
        emailVerifiedAt: {type: [string, 'null'], format: date-time}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}

    Business:
      type: object
      required: [id, name, type, createdAt]
      properties:
        id: {type: string, format: uuid}
        name: {type: string, minLength: 2, maxLength: 160}
        type: {$ref: '#/components/schemas/BusinessType'}
        slug: {type: string, maxLength: 100}
        phone: {type: string, maxLength: 30}
        email: {type: string, format: email}
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, DEACTIVATED]
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}

    Member:
      type: object
      required: [id, userId, businessId, role, status]
      properties:
        id: {type: string, format: uuid}
        userId: {type: string, format: uuid}
        businessId: {type: string, format: uuid}
        role: {$ref: '#/components/schemas/UserRole'}
        status:
          type: string
          enum: [INVITED, ACTIVE, SUSPENDED, REMOVED]
        createdAt: {type: string, format: date-time}

    Store:
      type: object
      required: [id, businessId, name, slug, status]
      properties:
        id: {type: string, format: uuid}
        businessId: {type: string, format: uuid}
        name: {type: string, minLength: 2, maxLength: 160}
        slug: {type: string, minLength: 2, maxLength: 80}
        description: {type: string, maxLength: 2000}
        logoUrl: {type: string, format: uri}
        status: {$ref: '#/components/schemas/StoreStatus'}
        publishedAt: {type: [string, 'null'], format: date-time}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}

    SupplierProfile:
      type: object
      required: [businessId]
      properties:
        businessId: {type: string, format: uuid}
        legalName: {type: string, maxLength: 200}
        description: {type: string, maxLength: 3000}
        contactPhone: {type: string, maxLength: 30}
        originLocation:
          $ref: '#/components/schemas/Address'
        retailerAccess:
          type: string
          enum: [OPEN, APPROVAL_REQUIRED, PRIVATE]

    RetailerProfile:
      type: object
      required: [businessId]
      properties:
        businessId: {type: string, format: uuid}
        description: {type: string, maxLength: 3000}
        contactPhone: {type: string, maxLength: 30}

    SupplierProduct:
      type: object
      required: [id, businessId, sku, name, basePrice, inventoryCount, status]
      properties:
        id: {type: string, format: uuid}
        businessId: {type: string, format: uuid}
        sku: {type: string, minLength: 1, maxLength: 100}
        name: {type: string, minLength: 1, maxLength: 200}
        description: {type: string, maxLength: 5000}
        categoryId: {type: [string, 'null'], format: uuid}
        basePrice: {$ref: '#/components/schemas/Money'}
        inventoryCount: {type: integer, minimum: 0}
        reservedCount: {type: integer, minimum: 0}
        availableCount: {type: integer, minimum: 0}
        originLocation: {$ref: '#/components/schemas/Address'}
        status: {$ref: '#/components/schemas/ProductStatus'}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}

    PricingRule:
      type: object
      required: [type]
      properties:
        type: {$ref: '#/components/schemas/PricingRuleType'}
        fixedRetailPrice: {$ref: '#/components/schemas/Money'}
        minimumRetailPrice: {$ref: '#/components/schemas/Money'}
        effectiveFrom: {type: string, format: date-time}
        effectiveTo: {type: [string, 'null'], format: date-time}

    RetailerProductListing:
      type: object
      required: [id, storeId, supplierProductId, sellingPrice, status]
      properties:
        id: {type: string, format: uuid}
        storeId: {type: string, format: uuid}
        supplierProductId: {type: string, format: uuid}
        displayTitle: {type: string, maxLength: 200}
        displayDescription: {type: string, maxLength: 5000}
        sellingPrice: {$ref: '#/components/schemas/Money'}
        margin: {$ref: '#/components/schemas/Money'}
        availableCount: {type: integer, minimum: 0}
        status: {$ref: '#/components/schemas/ListingStatus'}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}

    CatalogueProduct:
      allOf:
        - $ref: '#/components/schemas/SupplierProduct'
        - type: object
          properties:
            supplier:
              $ref: '#/components/schemas/Business'
            pricingRule:
              $ref: '#/components/schemas/PricingRule'

    PublicProduct:
      type: object
      required: [listingId, name, sellingPrice, availableCount]
      properties:
        listingId: {type: string, format: uuid}
        name: {type: string}
        description: {type: string}
        sellingPrice: {$ref: '#/components/schemas/Money'}
        availableCount: {type: integer, minimum: 0}
        images:
          type: array
          items: {type: string, format: uri}

    Customer:
      type: object
      required: [id, storeId]
      properties:
        id: {type: string, format: uuid}
        storeId: {type: string, format: uuid}
        name: {type: string, maxLength: 160}
        email: {type: string, format: email}
        phone: {type: string, maxLength: 30}
        defaultAddress: {$ref: '#/components/schemas/Address'}
        createdAt: {type: string, format: date-time}

    CartItem:
      type: object
      required: [id, listingId, quantity, unitPrice, subtotal]
      properties:
        id: {type: string, format: uuid}
        listingId: {type: string, format: uuid}
        quantity: {type: integer, minimum: 1}
        unitPrice: {$ref: '#/components/schemas/Money'}
        subtotal: {$ref: '#/components/schemas/Money'}

    Cart:
      type: object
      required: [id, storeId, items, subtotal]
      properties:
        id: {type: string, format: uuid}
        storeId: {type: string, format: uuid}
        customerId: {type: [string, 'null'], format: uuid}
        items:
          type: array
          items: {$ref: '#/components/schemas/CartItem'}
        subtotal: {$ref: '#/components/schemas/Money'}
        expiresAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}

    OrderItem:
      type: object
      required: [id, listingId, supplierProductId, quantity, unitPrice, subtotal]
      properties:
        id: {type: string, format: uuid}
        listingId: {type: string, format: uuid}
        supplierProductId: {type: string, format: uuid}
        quantity: {type: integer, minimum: 1}
        unitPrice: {$ref: '#/components/schemas/Money'}
        supplierBasePriceAtPurchase: {$ref: '#/components/schemas/Money'}
        retailerMarginAtPurchase: {$ref: '#/components/schemas/Money'}
        subtotal: {$ref: '#/components/schemas/Money'}

    Order:
      description: NEW becomes PAID only on verified provider confirmation. PAID becomes COMPLETED only after ALL required settlements are SETTLED and escrow RELEASED. Financial arrays must be complete, not a filtered or paginated subset.
      type: object
      required: [id, storeId, status, items, subtotal, total, createdAt]
      properties:
        id: {type: string, format: uuid}
        orderNumber: {type: string}
        storeId: {type: string, format: uuid}
        customerId: {type: [string, 'null'], format: uuid}
        status: {$ref: '#/components/schemas/OrderStatus'}
        items:
          type: array
          items: {$ref: '#/components/schemas/OrderItem'}
        shippingAddress: {$ref: '#/components/schemas/Address'}
        subtotal: {$ref: '#/components/schemas/Money'}
        deliveryFee: {$ref: '#/components/schemas/Money'}
        total: {$ref: '#/components/schemas/Money'}
        paymentId: {type: [string, 'null'], format: uuid}
        createdAt: {type: string, format: date-time}
        paidAt: {type: [string, 'null'], format: date-time}
        escrows:
          type: array
          readOnly: true
          items: {$ref: '#/components/schemas/Escrow'}
        settlements:
          type: array
          readOnly: true
          items: {$ref: '#/components/schemas/Settlement'}

    Escrow:
      description: Backend-owned funds for a settlement. Created HELD on payment confirmation; RELEASED only after that settlement is SETTLED; REFUNDED on permitted pre-fulfillment cancellation. Never client-writable.
      type: object
      required: [id, orderId, paymentId, settlementId, status, amount]
      properties:
        id: {type: string, format: uuid}
        orderId: {type: string, format: uuid}
        paymentId: {type: string, format: uuid}
        settlementId: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/EscrowState'}
        amount: {$ref: '#/components/schemas/Money'}

    Settlement:
      description: Backend-owned reconciliation per fulfillment. LOCKED while escrow is HELD, then PENDING only when its non-empty complete shipment set is DELIVERED. SETTLED requires trusted financial reconciliation, never customer input. One order may require multiple settlements.
      type: object
      required: [id, orderId, fulfillmentId, supplierBusinessId, escrowId, shipmentIds, status, amount]
      properties:
        id: {type: string, format: uuid}
        orderId: {type: string, format: uuid}
        fulfillmentId: {type: string, format: uuid}
        supplierBusinessId: {type: string, format: uuid}
        escrowId: {type: string, format: uuid}
        shipmentIds:
          type: array
          uniqueItems: true
          items: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/SettlementState'}
        amount: {$ref: '#/components/schemas/Money'}

    Payment:
      type: object
      required: [id, orderId, status, amount]
      properties:
        id: {type: string, format: uuid}
        orderId: {type: string, format: uuid}
        method: {$ref: '#/components/schemas/PaymentMethod'}
        provider: {type: string, description: Adapter identifier; MVP providers may include paystack and flutterwave., example: paystack}
        providerReference: {type: string}
        status: {$ref: '#/components/schemas/PaymentStatus'}
        amount: {$ref: '#/components/schemas/Money'}
        paidAt: {type: [string, 'null'], format: date-time}
        createdAt: {type: string, format: date-time}

    Inventory:
      description: Shared physical stock keyed by SupplierProduct, never by retailer listing. availableCount = inventoryCount - reservedCount. Verified payment atomically reserves all order lines (conditional update or row locks); insufficient stock rolls back the entire allocation with INSUFFICIENT_INVENTORY. Unique payment/order allocation keys prevent retries reserving twice. Fulfillment allocatedQuantity draws from this reservation, never a second stock pool.
      type: object
      required: [supplierProductId, inventoryCount, reservedCount, availableCount]
      properties:
        supplierProductId: {type: string, format: uuid}
        inventoryCount: {type: integer, minimum: 0}
        reservedCount: {type: integer, minimum: 0}
        availableCount: {type: integer, minimum: 0}
        version: {type: integer, minimum: 0}
        updatedAt: {type: string, format: date-time}

    Fulfillment:
      type: object
      required: [id, orderId, supplierBusinessId, status]
      properties:
        id: {type: string, format: uuid}
        orderId: {type: string, format: uuid}
        supplierBusinessId: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/FulfillmentStatus'}
        items:
          type: array
          items:
            $ref: '#/components/schemas/FulfillmentItem'
        batchId: {type: [string, 'null'], format: uuid}
        bulkSupplyRequestId: {type: [string, 'null'], format: uuid}
        shipmentIds:
          type: array
          items: {type: string, format: uuid}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}

    FulfillmentItem:
      type: object
      required: [id, orderItemId, supplierProductId, quantity]
      properties:
        id: {type: string, format: uuid}
        orderItemId: {type: string, format: uuid}
        supplierProductId: {type: string, format: uuid}
        quantity: {type: integer, minimum: 1}
        allocatedQuantity: {type: integer, minimum: 0}

    DemandBatch:
      description: Demand grouped by SupplierProduct; release every 2–3 days or early when total pending supplier demand reaches 50 units. Supplier prepares individually pre-labeled customer packages for external 3PL cross-dock.
      type: object
      required: [id, supplierBusinessId, supplierProductId, status, totalUnits]
      properties:
        id: {type: string, format: uuid}
        supplierBusinessId: {type: string, format: uuid}
        supplierProductId: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/DemandBatchStatus'}
        totalUnits: {type: integer, minimum: 0}
        thresholdUnits: {type: integer, minimum: 1, default: 50}
        openedAt: {type: string, format: date-time}
        closesAt: {type: string, format: date-time}
        releasedAt: {type: [string, 'null'], format: date-time}
        bulkSupplyRequestId: {type: [string, 'null'], format: uuid}

    BulkSupplyRequest:
      type: object
      required: [id, supplierBusinessId, status, items]
      properties:
        id: {type: string, format: uuid}
        supplierBusinessId: {type: string, format: uuid}
        demandBatchId: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/BulkSupplyStatus'}
        destinationHubId: {type: string, format: uuid}
        items:
          type: array
          items:
            $ref: '#/components/schemas/BulkSupplyItem'
        requestedAt: {type: string, format: date-time}
        acknowledgedAt: {type: [string, 'null'], format: date-time}
        receivedAt: {type: [string, 'null'], format: date-time}

    BulkSupplyItem:
      type: object
      required: [supplierProductId, requestedQuantity]
      properties:
        supplierProductId: {type: string, format: uuid}
        requestedQuantity: {type: integer, minimum: 1}
        receivedQuantity: {type: integer, minimum: 0}

    Shipment:
      type: object
      description: Pre-labeled customer package via external 3PL cross-dock and last-mile carrier. FAILED packages return to supplier; no in-hub holding.
      required: [id, orderId, fulfillmentId, status, destination]
      properties:
        id: {type: string, format: uuid}
        orderId: {type: string, format: uuid}
        fulfillmentId: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/ShipmentStatus'}
        trackingNumber: {type: [string, 'null']}
        provider: {type: [string, 'null']}
        providerShipmentId: {type: [string, 'null']}
        destination: {$ref: '#/components/schemas/Address'}
        hubId: {type: [string, 'null'], format: uuid}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}

    ShipmentEvent:
      type: object
      required: [id, shipmentId, status, occurredAt]
      properties:
        id: {type: string, format: uuid}
        shipmentId: {type: string, format: uuid}
        status: {$ref: '#/components/schemas/ShipmentStatus'}
        location: {type: [string, 'null']}
        note: {type: [string, 'null']}
        occurredAt: {type: string, format: date-time}

    Notification:
      type: object
      required: [id, type, title, readAt, createdAt]
      properties:
        id: {type: string, format: uuid}
        type: {type: string}
        title: {type: string}
        body: {type: string}
        readAt: {type: [string, 'null'], format: date-time}
        createdAt: {type: string, format: date-time}

    RegisterRequest:
      type: object
      required: [email, password, firstName, lastName]
      properties:
        email: {type: string, format: email}
        password: {type: string, minLength: 8, maxLength: 128}
        firstName: {type: string, minLength: 1, maxLength: 80}
        lastName: {type: string, minLength: 1, maxLength: 80}
        phone: {type: string, maxLength: 30}

    VerifyEmailRequest:
      type: object
      required: [token]
      properties:
        token: {type: string, minLength: 10}

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: {type: string, format: email}
        password: {type: string}

    RefreshTokenRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken: {type: string}

    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email: {type: string, format: email}

    ResetPasswordRequest:
      type: object
      required: [token, password]
      properties:
        token: {type: string}
        password: {type: string, minLength: 8, maxLength: 128}

    TokenResponse:
      type: object
      required: [accessToken, expiresIn]
      properties:
        accessToken: {type: string}
        expiresIn: {type: integer, minimum: 1}
        tokenType: {type: string, enum: [Bearer]}

    AuthResponse:
      type: object
      required: [user, accessToken, expiresIn]
      properties:
        user: {$ref: '#/components/schemas/User'}
        accessToken: {type: string}
        refreshToken: {type: string}
        expiresIn: {type: integer}

    CreateBusinessRequest:
      type: object
      required: [name, type]
      properties:
        name: {type: string, minLength: 2, maxLength: 160}
        type: {$ref: '#/components/schemas/BusinessType'}
        slug: {type: string, maxLength: 100}
        phone: {type: string, maxLength: 30}
        email: {type: string, format: email}

    UpdateBusinessRequest:
      type: object
      properties:
        name: {type: string, minLength: 2, maxLength: 160}
        phone: {type: string, maxLength: 30}
        email: {type: string, format: email}

    AddMemberRequest:
      type: object
      required: [email, role]
      properties:
        email: {type: string, format: email}
        role: {$ref: '#/components/schemas/UserRole'}

    UpdateMemberRequest:
      type: object
      properties:
        role: {$ref: '#/components/schemas/UserRole'}
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, REMOVED]

    UpsertSupplierProfileRequest:
      type: object
      properties:
        legalName: {type: string, maxLength: 200}
        description: {type: string, maxLength: 3000}
        contactPhone: {type: string, maxLength: 30}
        originLocation: {$ref: '#/components/schemas/Address'}
        retailerAccess:
          type: string
          enum: [OPEN, APPROVAL_REQUIRED, PRIVATE]

    UpsertRetailerProfileRequest:
      type: object
      properties:
        description: {type: string, maxLength: 3000}
        contactPhone: {type: string, maxLength: 30}

    CreateStoreRequest:
      type: object
      required: [name, slug]
      properties:
        name: {type: string, minLength: 2, maxLength: 160}
        slug: {type: string, minLength: 2, maxLength: 80, pattern: '^[a-z0-9]+(?:-[a-z0-9]+)*$'}
        description: {type: string, maxLength: 2000}

    UpdateStoreRequest:
      type: object
      properties:
        name: {type: string, minLength: 2, maxLength: 160}
        description: {type: string, maxLength: 2000}
        logoUrl: {type: string, format: uri}

    CreateSupplierProductRequest:
      type: object
      required: [businessId, sku, name, basePrice]
      properties:
        businessId: {type: string, format: uuid}
        sku: {type: string, minLength: 1, maxLength: 100}
        name: {type: string, minLength: 1, maxLength: 200}
        description: {type: string, maxLength: 5000}
        categoryId: {type: string, format: uuid}
        basePrice: {$ref: '#/components/schemas/Money'}
        inventoryCount: {type: integer, minimum: 0, default: 0}
        originLocation: {$ref: '#/components/schemas/Address'}

    UpdateSupplierProductRequest:
      type: object
      properties:
        name: {type: string, maxLength: 200}
        description: {type: string, maxLength: 5000}
        categoryId: {type: [string, 'null'], format: uuid}
        basePrice: {$ref: '#/components/schemas/Money'}
        originLocation: {$ref: '#/components/schemas/Address'}

    InventoryAdjustmentRequest:
      type: object
      required: [delta, reason]
      properties:
        delta:
          type: integer
          description: Positive adds stock; negative removes stock.
        reason:
          type: string
          enum: [INITIAL_STOCK, RESTOCK, CORRECTION, DAMAGE, LOSS, RETURNED_STOCK, MANUAL_ADJUSTMENT]
        note: {type: string, maxLength: 500}

    UpsertPricingRuleRequest:
      type: object
      required: [type]
      properties:
        type: {$ref: '#/components/schemas/PricingRuleType'}
        fixedRetailPrice: {$ref: '#/components/schemas/Money'}
        minimumRetailPrice: {$ref: '#/components/schemas/Money'}
        effectiveFrom: {type: string, format: date-time}
        effectiveTo: {type: [string, 'null'], format: date-time}

    AddRetailerListingRequest:
      type: object
      required: [supplierProductId, sellingPrice]
      properties:
        supplierProductId: {type: string, format: uuid}
        sellingPrice: {$ref: '#/components/schemas/Money'}
        displayTitle: {type: string, maxLength: 200}
        displayDescription: {type: string, maxLength: 5000}

    UpdateRetailerListingRequest:
      type: object
      properties:
        sellingPrice: {$ref: '#/components/schemas/Money'}
        displayTitle: {type: string, maxLength: 200}
        displayDescription: {type: string, maxLength: 5000}

    CreateCartRequest:
      type: object
      required: [storeId]
      properties:
        storeId: {type: string, format: uuid}

    UpdateCartRequest:
      type: object
      properties:
        customerId: {type: [string, 'null'], format: uuid}

    AddCartItemRequest:
      type: object
      required: [listingId, quantity]
      properties:
        listingId: {type: string, format: uuid}
        quantity: {type: integer, minimum: 1, maximum: 1000}

    UpdateCartItemRequest:
      type: object
      required: [quantity]
      properties:
        quantity: {type: integer, minimum: 1, maximum: 1000}

    CheckoutRequest:
      type: object
      required: [cartId, customer]
      properties:
        cartId: {type: string, format: uuid}
        customer:
          type: object
          required: [name, phone, address]
          properties:
            name: {type: string, minLength: 2, maxLength: 160}
            email: {type: string, format: email}
            phone: {type: string, minLength: 7, maxLength: 30}
            address: {$ref: '#/components/schemas/Address'}
        notes: {type: string, maxLength: 1000}

    CancelOrderRequest:
      type: object
      properties:
        reason: {type: string, maxLength: 500}

    InitializePaymentRequest:
      type: object
      required: [orderId, callbackUrl, method]
      properties:
        orderId: {type: string, format: uuid}
        callbackUrl: {type: string, format: uri}
        method: {$ref: '#/components/schemas/PaymentMethod'}

    PaymentWebhookEvent:
      description: Internal normalized event after provider verification; not the native webhook wire payload.
      type: object
      required: [event, reference, status, amount]
      properties:
        event: {type: string}
        reference: {type: string}
        status: {$ref: '#/components/schemas/PaymentState'}
        amount: {$ref: '#/components/schemas/Money'}
        raw:
          type: object
          additionalProperties: true

    UpdateFulfillmentRequest:
      type: object
      required: [status]
      properties:
        status: {$ref: '#/components/schemas/FulfillmentStatus'}
        note: {type: string, maxLength: 1000}

    ReleaseBatchRequest:
      type: object
      properties:
        reason: {type: string, maxLength: 500}

    UpdateBulkSupplyRequest:
      type: object
      properties:
        status: {$ref: '#/components/schemas/BulkSupplyStatus'}
        receivedItems:
          type: array
          items:
            $ref: '#/components/schemas/BulkSupplyItem'

    ThreePLWebhookEvent:
      type: object
      required: [event, shipmentId, status]
      properties:
        event: {type: string}
        shipmentId: {type: string, format: uuid}
        providerShipmentId: {type: string}
        status: {$ref: '#/components/schemas/ShipmentStatus'}
        trackingNumber: {type: string}
        location: {type: string}
        note: {type: string}
        occurredAt: {type: string, format: date-time}

    ApiResponse:
      type: object
      required: [data]
      properties:
        data: {}

    ApiResponseUser:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/User'}}

    ApiResponseBusiness:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Business'}}

    ApiResponseMember:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Member'}}

    ApiResponseStore:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Store'}}

    ApiResponseSupplierProfile:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/SupplierProfile'}}

    ApiResponseRetailerProfile:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/RetailerProfile'}}

    ApiResponseSupplierProduct:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/SupplierProduct'}}

    ApiResponseCatalogueProduct:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/CatalogueProduct'}}

    ApiResponseRetailerListing:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/RetailerProductListing'}}

    ApiResponsePublicStore:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Store'}}

    ApiResponsePublicProduct:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/PublicProduct'}}

    ApiResponseCustomer:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Customer'}}

    ApiResponseCart:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Cart'}}

    ApiResponseOrder:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Order'}}

    ApiResponsePayment:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Payment'}}

    PaymentInitialization:
      type: object
      required: [paymentId, authorizationUrl, reference]
      properties:
        paymentId: {type: string, format: uuid}
        authorizationUrl: {type: string, format: uri}
        reference: {type: string}

    ApiResponsePaymentInitialization:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/PaymentInitialization'}}

    ApiResponseInventory:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Inventory'}}

    ApiResponsePricingRule:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/PricingRule'}}

    ApiResponseFulfillment:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Fulfillment'}}

    ApiResponseDemandBatch:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/DemandBatch'}}

    ApiResponseBulkSupplyRequest:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/BulkSupplyRequest'}}

    ApiResponseShipment:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties: {data: {$ref: '#/components/schemas/Shipment'}}

    ApiResponseShipmentEvents:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: array
              items: {$ref: '#/components/schemas/ShipmentEvent'}

    ApiResponseStoreAnalytics:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                orders: {type: integer}
                grossSales: {$ref: '#/components/schemas/Money'}
                averageOrderValue: {$ref: '#/components/schemas/Money'}
                unitsSold: {type: integer}
                topProducts:
                  type: array
                  items: {$ref: '#/components/schemas/PublicProduct'}

    ApiResponseSupplierAnalytics:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                unitsSupplied: {type: integer}
                activeProducts: {type: integer}
                pendingDemandUnits: {type: integer}
                grossSales: {$ref: '#/components/schemas/Money'}

    WebhookAck:
      type: object
      required: [received]
      properties:
        received: {type: boolean}

    HealthResponse:
      type: object
      required: [status, service, timestamp]
      properties:
        status: {type: string, enum: [ok, ready]}
        service: {type: string, example: sellonit-api}
        timestamp: {type: string, format: date-time}

    PaginationMeta:
      type: object
      required: [page, pageSize, total, totalPages]
      properties:
        page: {type: integer, minimum: 1}
        pageSize: {type: integer, minimum: 1}
        total: {type: integer, minimum: 0}
        totalPages: {type: integer, minimum: 0}

    ErrorDetail:
      type: object
      properties:
        field: {type: string}
        code: {type: string}
        message: {type: string}

    ErrorResponse:
      description: Stable error envelope. Domain codes include INSUFFICIENT_INVENTORY, INVALID_PRICING_RULE, UNAUTHORIZED_BUSINESS_ACCESS, INVALID_STATE_TRANSITION, PAYMENT_CONFIRMATION_CONFLICT, SETTLEMENT_NOT_ELIGIBLE and ORDER_NOT_ELIGIBLE_FOR_COMPLETION. Use 403 for denied tenant access and 409 for domain conflicts. Valid duplicate webhooks return WebhookAck (200), not a second financial effect.
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code: {type: string}
            message: {type: string}
            requestId: {type: string}
            details:
              type: array
              items: {$ref: '#/components/schemas/ErrorDetail'}

    PaginatedBusinesses:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/Business'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedMembers:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/Member'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedStores:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/Store'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedSupplierProducts:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/SupplierProduct'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedCatalogueProducts:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/CatalogueProduct'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedRetailerListings:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/RetailerProductListing'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedPublicProducts:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/PublicProduct'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedCustomers:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/Customer'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedOrders:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/Order'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedFulfillments:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/Fulfillment'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedDemandBatches:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/DemandBatch'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedBulkSupplyRequests:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/BulkSupplyRequest'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedShipments:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/Shipment'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}
    PaginatedNotifications:
      type: object
      properties:
        data: {type: array, items: {$ref: '#/components/schemas/Notification'}}
        meta: {$ref: '#/components/schemas/PaginationMeta'}

  responses:
    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    Unauthorized:
      description: Authentication required or invalid
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    Forbidden:
      description: Authenticated but not authorized
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    Conflict:
      description: State or concurrency conflict
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
    ServiceUnavailable:
      description: Dependency unavailable
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorResponse'}
